# Dependency folder (this contains thousands of downloaded files)
node_modules/

# Environment variables (hides secret API keys and database passwords)
.env
*.env

# Debug and system logs
npm-debug.log*
yarn-debug.log*
.DS_Store